@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== Shared Style ========== */
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --color-primary: #272727;
  --color-secondary: gray;
  --color-success: #638889;
  --color-white: white;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /*10px*/
}
h1,
h2 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--color-primary);
}
h3 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--color-primary);
}
h4,
h5 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-primary);
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  width: 100%;
}
p,
a,
button {
  font-size: 1.8rem;
  color: var(--color-secondary);
  line-height: 150%;
  text-transform: capitalize;
}
a:hover {
  color: var(--color-success);
}
ul li {
  list-style-type: none;
}
button {
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-success);
  color: var(--color-white);
  cursor: pointer;
}

/* ================== Header Style ==================== */
header {
  padding: 0rem 20rem;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* ==================== Hero Section Style ==================== */
.hero-section {
  padding: 0rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.hero-text-container,
.hero-image-container {
  width: 48%;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
}

/* ========== product-section Styles ==================== */
.product-section {
  padding: 0rem 20rem;
  width: 100%;
  margin-top: 10rem;
}
.product-section h2 {
  margin-bottom: 5rem;
  text-align: center;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.products-card {
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #efefefef;
  border-radius: 1rem;
}
.products-card img {
  width: 70%;
  border-radius: 50%;
}
.buy-btn {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}
